@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* font-family: 'Righteous', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,400;1,600&display=swap');
/* font-family: 'Urbanist', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
/* font-family: 'Outfit', sans-serif; */
body{
    width: 1203px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    margin-top: 29.44px;
    margin-bottom: 16.96px;
}

header .logo h1 {
    color: #F2994A;
    font-family: 'Righteous', sans-serif;
    font-size: 25.042px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.955px;
    margin-right: 169.44px;
    margin-left: 100px;
    animation: animate;
    animation-duration: 1s;
animation-iteration-count:infinite;
animation-direction:alternate-reverse ;
}
/* ============================================
                        Animation section
 ===========================================    */

 @keyframes animate {
    from{
transform: translateX(-200px);
    }
    to{
        transform: translateX(0px);
    }
}



@keyframes animate-2 {
    from{
position: relative;
right: -100px;
    }
    to{
        position: relative;
        right: 0px;
    }
}


header .links ul {
    margin-right: 169.45px;
    display: flex;
    gap: 63.44px;
}

header .links a {
    color: #666;
    font-family: 'Urbanist', sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.955px;
    /* 143.468% */
    letter-spacing: 0.32px;
    transition: color 0.5s;
}

header .links a:hover {
    color: #F2994A;
}

header .links a span {
    color: #F2994A;

}

header .button button {
    color: #FFF;

    font-family: 'Outfit', sans-serif;
    border: none;
    border-radius: 10px;
    background: #F2994A;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 9.5px;
    padding-bottom: 9.5px;
    padding-left: 22px;
    padding-right: 20px;
}

main {
    height: 390px;
    display: flex;
    margin-left: 100.33px;
    gap: 24px;
    flex-wrap: wrap;
    align-items: center;

}

main .main-left {
    font-family: 'Outfit', sans-serif;
    width: 506px;

    height: 299px;
    box-sizing: border-box;
    animation: animate;
    animation-duration: 1s;

}

main .main-left .dot {
    margin-left: 23.16px;
    margin-bottom: 40.74px;
}

main .main-left img {}

main .main-left h1 {
    position: relative;
    color: #333;
    font-family: Outfit;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 60px */
    margin-bottom: 20.57px;
    padding-right: 12px;
}

main .main-left h1 span {
    color: #F2994A;
}

main .main-left h1 img {
    vertical-align: middle;
}

main .main-left p {
    width: 322px;
    color: #666;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.955px;
    /* 143.468% */
}

.main-right {
    height: 100%;
    background: url(images/Group\ 1000002273.png)no-repeat;
    animation: animate-2;
    animation-duration: 1s;



    width: 530px;
    z-index: 1;
    position: relative;

}

.main-right img {
    position: relative;
    top: 244.04px;
    left: 202.25px;
    z-index: 2;
}


/* ============================================
                         community section
 ===========================================    */
.community {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.community .com1 {
    margin-right: 32px;
    margin-left: 100px;
}

.community .com2 {
    box-sizing: border-box;
    width: 228px;
    padding-left: 12px;
    padding-top: 16px;
    border-radius: 8.347px;
    background: #FAFAFA;
    padding-right: 34px;
    transition: background 0.5s;

}

.community .com2 .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.389px;
    height: 33.389px;
    border-radius: 8.347px;


    background: #FFF;

    box-shadow: 0px 11.686px 11.686px 0px rgba(0, 0, 0, 0.07);
}

.community .com2 h3 {
    color: #1D1D1D;

    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 25.459px;
    margin: 10px 0px;
}

.community .com2 p {
    color: #666;

    font-family: Outfit;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    padding-bottom: 16px;
}

.com2:hover {
    border-radius: 8.347px;
    background: #F2994A;

}

.com2:hover h3 {
    color: #FFF;}


.com2:hover p{
    color: white;
}


/* ============================================
                         community section
 ===========================================    */
.clients {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1203px;
    height: 155px;
    flex-shrink: 0;
    background: #FAFAFA;
    gap: 72px;
}

/* ============================================
                         third-section
 ===========================================    */


.third-section {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-self: center;
    margin-bottom: 50px;
}

.third-section .third-top {
    display: flex;
    align-items: center;
    margin-left: 120px;
}

.third-section .third-top .third-inner1 {
    border-left: 6.678px solid #F2994A;
    padding-left: 20.23px;
}

.third-section .third-top .third-inner1 h3 {
    width: 390px;
    font-family: Outfit;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    margin-right: 200px;

}

.third-section .third-top .third-inner1 span,
.third-section .third-bottom .third-inner1 span {
    color: #F2994A;
}

.third-section .third-top .third-inner1 p {
    color: #666;
    width: 323px;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.955px;
}

/* 
 .third-section  .third-bottom .third-inner1{
    border-right:  6.678px solid #F2994A;
    padding-left: 20.23px;
    border-left: none;
    text-align: right;
 } */
.third-section .third-bottom {
    display: flex;
    align-items: center;
    margin-left: 160px;
    /* justify-content: center; */
}

.third-section .third-bottom .third-bottom-inner1 {
    border-right: 6.678px solid #F2994A;
    margin-right: 263px;
    padding-right: 20.07px;


}

.third-section .third-bottom .third-bottom-inner1 h3 {
    color: #1D1D1D;

    text-align: right;
    font-family: Outfit;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

.third-section .third-bottom .third-inner1 p {
    color: #666;

    text-align: right;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.955px;
    /* width: 324.134px; */
    margin-left: 290px;
}

.third-section .third-bottom .third-inner1 h3 {
    text-align: right;
    margin-left: 263px;
    width: 351.229px;

}

/* ============================================
                        fourth section
 ===========================================    */
.fourth-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #FAFAFA;
    padding: 50px 0px;
}

.fourth-section h3 {
    width: 753px;
    color: #1D1D1D;

    text-align: center;
    font-family: Outfit;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    padding-bottom: 20px;
}

.fourth-section h3 span {
    color: #F2994A;
}

.fourth-section p {
    color: #666;

    text-align: center;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px;
    padding-bottom: 33.33px;
}

.fourth-section img {
    margin-bottom: 30.4px;
}

.fourth-section button {
    width: 246px;
    padding: 14px 0px;
    border: none;
    background-color: #F2994A;
    color: #FFF;
    border-radius: 10px;

    text-align: center;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px;
    position: relative;
}

.fourth-section button i {
    width: 24px;
    height: 24px;
    color: #FFF;
    position: absolute;
    top: 37%;
    left: 197px;
    display: inline-block;
}


/* ============================================
                        group section
 ===========================================    */
.group {
    font-family: Outfit;

    display: grid;
    row-gap: 25.04px;
    column-gap: 65px;
    justify-content: center;
    margin: 50px 0px;
    grid-template-columns: 451px 451px;
}
.group-same:hover{

    box-shadow: 6.678px 6.678px 33.389px 0px rgba(0, 0, 0, 0.10);
}

.group-same {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15.84px;
    width: 451px;
    height: 167.779px;
    border-radius: 8.347px;
    background: #FFF;
}
.group-same .content h1{
    margin-bottom: 12.6px;
    color: #1D1D1D;
font-family: Outfit;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 25.459px; /* 127.295% */
}
.group-same .content p{
    width: 192.821px;
    color: #666;
font-family: Outfit;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.6px;
}


/* ============================================
                        testimonial section
 ===========================================    */
 .main-testimonials {
     font-family: Outfit;
     background: #FAFAFA;
    padding-top: 50px;


 }
 .main-testimonials h1{
     margin-bottom:  20px;
     text-align: center;
     font-family: Outfit;
     font-size: 34px;
     font-style: normal;
     font-weight: 600;
     line-height: 110%;
     color: #F2994A;
    }
    .main-testimonials .para{
        color: #666;
        text-align: center;
        margin-bottom: 40px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22.955px; /* 143.468% */
    }
 .testimonials{
    display: flex;
    gap: 21.09px;
    justify-content: center;

 }
 .testimonail-1 {
    Width:490.82px;
Height:173px;
padding: 23.382px 26.711px 22.196px 26.711px;
border-radius: 8.347px;
background: #FFF;
margin-bottom: 40px;
 }
 .testimonail-1:hover{
    box-shadow: 0px 3.339px 25.042px 0px rgba(0, 0, 0, 0.05);
 }
  .icon{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom:13px ;
 }
 .testimonail-1 p{
    color: #666;
font-family: Outfit;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18.364px; /* 131.171% */
letter-spacing: 0.28px;
width: 391.485px;
 }
.slider{
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 16px;
    


}
.slider i{
    color: rgba(242, 153, 74, 0.30);


    Width:
    20.87px;
    Height:
    20px;
    display: inline-block;
margin-bottom: 50px;

}
.slider i:hover{
color: #F2994A;
}






